<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IfoodDeMecanico</title>
    <link rel="stylesheet" href="/static/css/log.css">
</head>
<body>
    <div id="logo">
     <img src="/static/imagens/Logo.png"
     <h1>CarFix</h1>
    </div>

    <form action="/acesso" method="post">
        <h1>Login</h1>
        {% set mensagens = get_flashed_messages() %}
        {% if mensagens %}
          <div id="alerta" style="font-size: 20px;">
            {{mensagens[0]}}
          </div>
        {% endif %}
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
        <div class="button-container">
            <button type="submit">Entrar</button>
            <button><a href="#" style="text-decoration: none;" class="btn-cadastro" >Cadastre-se</a></button>
        </div>
    </form>








    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>

</body>
</html>