body {
    background-color: rgb(126, 126, 126);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: rgb(0, 0, 0);
}


form {
    max-width: 50%;
    padding: 20px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(109, 105, 105, 0.1);

    margin-left: auto; /* Empurra o form para a direita */
    margin-right: 300px; /* Ajuste conforme necessário */
}

label,
input {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
}

input {
    width: 90%;
    padding: 10px;
    border: 2px solid #3b3a3a;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: rgb(163, 147, 147);
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



button:hover {
    background-color: whitesmoke;
}

body {
    background-image: url('/static/imagens/Fundo.png'); /* Caminho da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 100vh; /* Garante que o fundo ocupe toda a altura da tela */
}
