
.navbar {
    position: fixed;
    padding: 10px;
    width: 85%;
    top: 0;
    display: flex;
    justify-content: space-between; /* Isso já coloca os itens nas extremidades */
    z-index: 3;
}

.Logo_navbar {
    width: 45px;
    height: 45px;
}

.btn_navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }