body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    padding: 10px;
    width: 85%;
    top: 0;
    display: flex;
    justify-content: space-between; /* Isso já coloca os itens nas extremidades */
    align-items: center;
    z-index: 3;
}

.Logo_navbar {
    width: 45px;
    height: 45px;

}

.bottonn_navbar {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
}